.input {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.5em;
    background-color: rgba(40, 40, 40, 0.4);
    color:#FFAE34;
    border: none;
    margin: 20px;
}

/* 
To not visually display but remain a11y compliant, per:
https://www.coolfields.co.uk/2011/04/accessible-forms-should-every-input-have-a-label/
https://www.coolfields.co.uk/2016/05/text-for-screen-readers-only-updated/ 
*/
.screenreadertext { 
    border:0;   
    clip: rect(1px, 1px, 1px, 1px); 
    clip-path: inset(50%);
    height: 1px; 
    margin: -1px;
    width: 1px; 
    overflow: hidden; 
    position: absolute !important;
    word-wrap:normal !important;
 }