.input {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.5em;
    background-color: rgba(40, 40, 40, 0.4);
    color:#FFAE34;
    border: none;
    margin: 20px;
}